* {
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
}

:where(html, body) {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:where(body, #root) {
  margin: 0;
  padding: 0;
}

:where(ul, li) {
  list-style: none;
  list-style-type: none;
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
